<%= form_with(model: redirect, local: true) do |form| %>
<% if redirect.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(redirect.errors.count, "error") %> prohibited this redirect from being saved:</h2>

  <ul>
    <% redirect.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.fields_for :hosts, redirect.hosts do |hosts_form| %>
<div class="field">
  <%= hosts_form.label :hostname %>
  <%= hosts_form.text_field :hostname %>
  <%= hosts_form.check_box :_destroy %>
</div>
<% end %>

<div class="field">
  <%= form.label :destination, "Destination URL" %>
  <%= form.text_field :destination %>
</div>

<div class="field">
  <%= form.label :active %>
  <%= form.check_box :active %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>