<div class="flex flex-row justify-between mb-6">
  <h1 class="py-1 text-center text-3xl leading-9 font-extrabold text-gray-900">
    My Redirects
  </h1>
</div>

<div class="flex flex-col">
  <table class="table">
    <thead>
      <tr>
        <th class="table-header">Host(s)</th>
        <th class="table-header">Destination</th>
        <th class="table-header">Active?</th>
        <th class="px-6 py-3 bg-gray-50"></th>
      </tr>
    </thead>
    <tbody>
      <% @redirects.each do |redirect| %>
        <tr>
          <td class="table-row">
            <div class="text-sm leading-5 text-gray-900">
              <%= truncate redirect.hosts.map(&:hostname).join(', ') %>
            </div>
          </td>
          <td
            class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500"
          >
            <%= truncate redirect.destination %>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            <% active_classes = redirect.active? ? %w[bg-green-100 text-green-800] : %w[bg-red-100 text-red-800] %>
            <span
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%= active_classes.join(' ') %>"
            >
              <%= redirect.active? ? "Yes" : "No" %>
            </span>
          </td>
          <td
            class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium"
          >
            <a href="#" class="text-blue-600 hover:text-blue-900">Edit</a>
            <%= link_to 'Show', redirect %>
            <%= link_to 'Edit', edit_redirect_path(redirect) %>
            <%= link_to 'Destroy', redirect, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-3">
    <div class="mb-2">
      <%= render partial: 'redirects/form', locals: { redirect: @redirect } %>
    </div>
  </div>
</div>
