<!DOCTYPE html>
<html>
  <head>
    <title>Redirectmyssl - The greatest SSL Redirector in the Universe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <div class="flex flex-col h-screen">
      <%= render partial: 'layouts/nav' %>
      <%= render partial: 'layouts/flash' %>
      <main class="flex-auto p-3">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
